@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
/* design start from hear....  */

/* some Reusable Classes start  */

.max {
  max-width: 1200px;
  margin: 0px auto;
}
.max-nav {
  max-width: 1600px;
  margin: 0px auto;
}
.prim-btn {
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: white;
}
.prim-title {
  font-size: 3.9rem;
  font-weight: 800;
  color: white;
}
.sec-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
.pra {
  font-size: 1rem;
  color: white;
  line-height: 20px;
}

/* <----------Reusable Classes end-------> */

/* <---------- Header design start ------->  */

.header {
  background: #1a0b2e;
  width: 100%;
  padding: 16px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #2c1b40;
}
.logo {
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}
.text-gradient {
  background: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.nav-icon {
  display: none;
}

/* header section end  */

/* banner section start  */
.banner {
  /* width: 100%; */
  height: 94vh;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 550px;
}
.banner-img {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg-img {
  width: 100%;
  display: block;
}
.inner-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.batch {
  position: absolute;
  background-color: #00ff88;
  color: black;
  border-radius: 1000px;
  padding: 8px 16px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  top: 22px;
  right: 33px;
}

.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-btn {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.btn-spotify {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.btn-subs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: transparent;
  color: #00ff88;
  border: 2px solid #00ff88;
}

/* banner section end  */

/* Podcast section start  */
.podcast {
  background-color: #1a0b2e;
}
.podcast-main {
  border: 1px solid green;
  display: flex;
  flex-direction: column;

  gap: 80px;
}
.podcast-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 16px;
}
.podcast-num {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.num {
  font-size: 3rem;
  color: #00ff88;
}

/* responsive section  */
/* tab responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-btn {
    display: none;
  }
  .nav-links ul {
    gap: 50px;
  }
  .navbar {
    padding: 0px 30px;
  }
  .banner-img {
    width: 64%;
  }
  .batch {
    top: 22px;
    right: 29px;
  }
}
/* mobile responsive  */
@media screen and (max-width: 576px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-icon {
    display: flex;
    cursor: pointer;
  }
  .navbar {
    padding: 0px 30px;
  }

  .banner-img {
    width: 56%;
  }
  .batch {
    top: 9px;
    right: 3px;
  }
}
