@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Inter", sans-serif;
}
/* design start from hear....  */

/* some Reusable Classes start  */

.max {
  max-width: 1200px;
  margin: 0px auto;
}
.max-nav {
  max-width: 1600px;
  margin: 0px auto;
}
.prim-btn {
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: white;
}

/* <----------Reusable Classes end-------> */

/* <---------- Header design start ------->  */

.header {
  background: #1a0b2e;
  width: 100vw;
  padding: 16px 0px;
}
.logo {
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}
.text-gradient {
  background: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.nav-icon {
  display: none;
}

/* responsive section  */
/* tab responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-btn {
    display: none;
  }
  .nav-links ul {
    gap: 50px;
  }
  .navbar {
    padding: 0px 30px;
  }
}
/* mobile responsive  */
@media screen and (max-width: 576px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-icon {
    display: flex;
    cursor: pointer;
  }
  .navbar {
    padding: 0px 30px;
  }
}
